---
section: Home
chapter: Donate
slug_section: home
slug_chapter: donate
description: Support for the continued development of BasMaterial UI comes directly from the community.
---

<section class="header-doc center bas-ui-section bas-ui-top-padding-3 bas-ui-bottom-padding-3">
    <div class="container">
        <h1><i class="mdi mdi-heart-pulse bas-ui-icon"></i> Help Preserve This Project <i class="mdi mdi-heart-pulse bas-ui-icon"></i></h1>
        <p class="lead">{{description}}</p>
        <p><a class="bas-ui-button bas-ui-button-primary bas-ui-button-lg bas-ui-waves-light" target="_blank" href="{{site.donate_link}}"><i class="mdi mdi-open-in-new bas-ui-icon bas-ui-icon-right bas-ui-icon-18"></i>Donate Today</a></p>
    </div>
</section>

<section class="doc-section bas-ui-section bas-ui-top-padding-12 bas-ui-bottom-padding-12">
    <div class="container">
        <div class="row">
            <div class="col-md-6 push-md-6 doc-promo-img">
                <i class="mdi mdi-heart bas-ui-icon bas-ui-icon-right bas-ui-icon-182"></i>
            </div>
            <div class="col-md-6 pull-md-6 doc-promo-text">
                <h4>Built for the community</h4>
                <p class="lead">Designed and built with all the love in the world. You can contribute to it with just a small grain of sand.</p>
                <p><a class="bas-ui-button bas-ui-button-primary bas-ui-button-lg bas-ui-waves-light" target="_blank" href="{{site.donate_link}}"><i class="mdi mdi-open-in-new bas-ui-icon bas-ui-icon-right bas-ui-icon-18"></i> Donate Today</a></p>
            </div>
        </div>
    </div>
</section>

<section class="doc-section doc-section-black bas-ui-section bas-ui-top-padding-12 bas-ui-bottom-padding-12">
    <div class="container">
        <div class="row">
            <div class="col-md-6 doc-promo-img">
                <i class="mdi mdi-timer bas-ui-icon bas-ui-icon-left bas-ui-icon-182"></i>
            </div>
            <div class="col-md-6 doc-promo-text">
                <h4>Time is money</h4>
                <p class="lead">Time is money, you can help add a few more minutes of time to this fantastic project with just a little help.</p>
                <p><a class="bas-ui-button bas-ui-button-primary bas-ui-button-lg bas-ui-waves-light" target="_blank" href="{{site.donate_link}}"><i class="mdi mdi-open-in-new bas-ui-icon bas-ui-icon-right bas-ui-icon-18"></i> Donate Today</a></p>
            </div>
        </div>
    </div>
</section>

<section class="doc-section bas-ui-section bas-ui-top-padding-12 bas-ui-bottom-padding-6">
    <div class="container">
        <div class="row">
            <div class="col-md-6 push-md-6 doc-promo-img">
                <i class="mdi mdi-settings-box bas-ui-icon bas-ui-icon-right bas-ui-icon-182"></i>
            </div>
            <div class="col-md-6 pull-md-6 doc-promo-text">
                <h4>Tools and Services</h4>
                <p class="lead">Some payment tools and services are always needed. You can help keep them with a bit of your help.</p>
                <p><a class="bas-ui-button bas-ui-button-primary bas-ui-button-lg bas-ui-waves-light" target="_blank" href="{{site.donate_link}}"><i class="mdi mdi-open-in-new bas-ui-icon bas-ui-icon-right bas-ui-icon-18"></i> Donate Today</a></p>
            </div>
        </div>
    </div>
</section>
