---
section: Components
chapter: Modals
slug_section: components
slug_chapter: modals
description: They support a number of use cases from user notification to completely custom content and feature a subcomponents, sizes, and more.
---

<section class="header-doc bas-ui-section bas-ui-top-padding-3 bas-ui-bottom-padding-3">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h1>{{chapter}}</h1>
                <p class="lead">{{description}}</p>
            </div>
            <div class="col-sm-4 bas-ui-top-padding-3 center">
                <!-- ADS-TOP -->
            </div>
        </div>
    </div>
</section>

<section class="bas-ui-section bas-ui-top-padding-3 bas-ui-bottom-padding-3">
<div class="container">

    <div class="row">
        <div class="col-md-12">
            <h2 class="header">Modal Types</h2>
            <p>For fixed mode add <code class="language-markup">bas-ui-modal-fixed</code> after <code class="language-markup">bas-ui-modal</code>.</p>

            <p>
                <a data-target="bas-ui-modal-sample1" class="bas-ui-button bas-ui-button-primary bas-ui-waves-light bas-ui-modal-trigger bas-ui-modal-trigger-custom-1">Basic</a>
                &nbsp;&nbsp;&nbsp;
                <a data-target="bas-ui-modal-sample2" class="bas-ui-button bas-ui-button-primary bas-ui-waves-light bas-ui-modal-trigger">With Header</a>
                &nbsp;&nbsp;&nbsp;
                <a data-target="bas-ui-modal-sample3"  class="bas-ui-button bas-ui-button-primary bas-ui-waves-light bas-ui-modal-trigger">Fixed</a>
            </p>

            <br>

            <!-- Modal Basic -->
            <div id="bas-ui-modal-sample1" class="bas-ui-modal">

                <!-- Content -->
                <div class="bas-ui-modal-content">
                    <h5>Title</h5>
                    <p>Duis bibendum nisl quis tellus rutrum, ut aliquet massa interdum. Mauris sit amet nisl augue. Nullam turpis mauris, aliquam in fermentum non, malesuada faucibus orci. Suspendisse viverra lorem vitae eros tristique, nec sagittis lectus molestie.</p>
                </div>

                <!-- Footer -->
                <div class="bas-ui-modal-footer">
                    <a href="#" class="bas-ui-button bas-ui-button-default bas-ui-button-flat bas-ui-waves secondary-color-text bas-ui-modal-close">Agree</a>
                    <a href="#" class="bas-ui-button bas-ui-button-default bas-ui-button-flat bas-ui-waves secondary-color-text bas-ui-modal-close">Disagree</a>
                </div>

            </div>

            <!-- Modal With Header -->
            <div id="bas-ui-modal-sample2" class="bas-ui-modal">

                <!-- Header -->
                <div class="bas-ui-modal-header">
                    <div class="header-title">
                        <i class="mdi mdi-settings bas-ui-icon bas-ui-icon-left bas-ui-icon-24"></i>
                        <span class="section-title">Modal Header</span>
                    </div>
                    <ul class="right bas-ui-nav-menu">
                        <li class="bas-ui-nav-menu-item-icon">
                            <a class="bas-ui-button bas-ui-button-default bas-ui-button-flat bas-ui-button-fab bas-ui-button-fab-xs bas-ui-waves">
                                <i class="mdi mdi-dots-vertical bas-ui-icon"></i>
                            </a>
                        </li>
                    </ul>
                </div>

                <!-- Content -->
                <div class="bas-ui-modal-content">
                    <h5>Title</h5>
                    <p>Duis bibendum nisl quis tellus rutrum, ut aliquet massa interdum. Mauris sit amet nisl augue. Nullam turpis mauris, aliquam in fermentum non, malesuada faucibus orci. Suspendisse viverra lorem vitae eros tristique, nec sagittis lectus molestie.</p>
                </div>

                <!-- Footer -->
                <div class="bas-ui-modal-footer">
                    <a href="#" class="bas-ui-button bas-ui-button-default bas-ui-button-flat bas-ui-waves secondary-color-text bas-ui-modal-close">Agree</a>
                    <a href="#" class="bas-ui-button bas-ui-button-default bas-ui-button-flat bas-ui-waves secondary-color-text bas-ui-modal-close">Disagree</a>
                </div>

            </div>

            <!-- Modal Fixed -->
            <div id="bas-ui-modal-sample3" class="bas-ui-modal bas-ui-modal-fixed">

                <!-- Header -->
                <div class="bas-ui-modal-header">
                    <div class="header-title">
                        <i class="mdi mdi-settings bas-ui-icon bas-ui-icon-left bas-ui-icon-24"></i>
                        <span class="section-title">Modal Header</span>
                    </div>
                    <ul class="right bas-ui-nav-menu">
                        <li class="bas-ui-nav-menu-item-icon">
                            <a class="bas-ui-button bas-ui-button-default bas-ui-button-flat bas-ui-button-fab bas-ui-button-fab-xs bas-ui-waves">
                                <i class="mdi mdi-dots-vertical bas-ui-icon"></i>
                            </a>
                        </li>
                    </ul>
                </div>

                <!-- Content -->
                <div class="bas-ui-modal-content">
                    <h5>Title</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nec commodo neque, ac feugiat nibh. Praesent sagittis velit quis felis consequat, sit amet vulputate mi ornare. Phasellus tempor leo in ante semper, sit amet mattis ligula commodo. Aenean ornare consectetur eros, non sagittis dui aliquam ac. Sed id orci id dolor molestie gravida. Quisque sit amet laoreet nibh. Quisque luctus lectus tincidunt nunc interdum, nec luctus justo aliquam. Proin eget risus tellus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam tempus turpis et enim ornare placerat. Donec tempor turpis velit, eget scelerisque velit tristique a. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

                    <p>Vestibulum placerat et metus ut semper. Aenean vitae quam non orci rutrum mollis ac non eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean porttitor efficitur tristique. Cras lobortis sapien in libero tristique, a pretium turpis ullamcorper. Vivamus quis purus vitae metus laoreet posuere sit amet nec orci. Integer molestie lectus eget viverra efficitur. Phasellus viverra suscipit orci, eget faucibus nunc aliquam id. Nulla facilisi. Nullam accumsan finibus lacinia.</p>

                    <p>Curabitur mattis magna nec lorem ornare, id pharetra velit pretium. Integer finibus ex non tempor pretium. Sed suscipit fringilla mauris ac lacinia. Aliquam nec sodales justo. Etiam porttitor, augue vel cursus eleifend, nibh lorem ornare tortor, sit amet sodales felis lorem sit amet nisi. Sed feugiat turpis vel tellus venenatis, non aliquet metus rutrum. Cras a magna in nulla mollis pellentesque vel quis est. Morbi quam quam, congue et hendrerit id, imperdiet id nunc. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum laoreet lobortis elit, ac pretium ex sollicitudin et. Integer consectetur tortor vel tortor facilisis laoreet.</p>

                    <p>Duis bibendum nisl quis tellus rutrum, ut aliquet massa interdum. Mauris sit amet nisl augue. Nullam turpis mauris, aliquam in fermentum non, malesuada faucibus orci. Suspendisse viverra lorem vitae eros tristique, nec sagittis lectus molestie. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam ut sollicitudin ex, non lacinia orci. Curabitur eleifend malesuada congue.</p>

                    <p>Fusce sit amet libero lorem. Nunc pellentesque consequat nisi, ut posuere lorem viverra id. Aenean tincidunt nulla nec felis lacinia, dignissim efficitur ipsum aliquet. Donec aliquet, sem vel posuere posuere, dui nisi elementum lectus, eget sollicitudin urna sem in arcu. Mauris aliquet, felis quis tempor accumsan, urna quam fringilla leo, a consectetur magna nulla non tortor. Fusce condimentum ultricies odio, sit amet tristique arcu elementum non. Quisque facilisis, ipsum at gravida iaculis, mauris dui congue lectus, sit amet elementum tellus odio id elit. Proin eget sagittis augue. Curabitur sagittis tellus et mi lobortis varius. Duis iaculis orci non tellus suscipit, eget bibendum tortor fringilla.</p>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nec commodo neque, ac feugiat nibh. Praesent sagittis velit quis felis consequat, sit amet vulputate mi ornare. Phasellus tempor leo in ante semper, sit amet mattis ligula commodo. Aenean ornare consectetur eros, non sagittis dui aliquam ac. Sed id orci id dolor molestie gravida. Quisque sit amet laoreet nibh. Quisque luctus lectus tincidunt nunc interdum, nec luctus justo aliquam. Proin eget risus tellus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam tempus turpis et enim ornare placerat. Donec tempor turpis velit, eget scelerisque velit tristique a. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

                    <p>Vestibulum placerat et metus ut semper. Aenean vitae quam non orci rutrum mollis ac non eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean porttitor efficitur tristique. Cras lobortis sapien in libero tristique, a pretium turpis ullamcorper. Vivamus quis purus vitae metus laoreet posuere sit amet nec orci. Integer molestie lectus eget viverra efficitur. Phasellus viverra suscipit orci, eget faucibus nunc aliquam id. Nulla facilisi. Nullam accumsan finibus lacinia.</p>

                    <p>Curabitur mattis magna nec lorem ornare, id pharetra velit pretium. Integer finibus ex non tempor pretium. Sed suscipit fringilla mauris ac lacinia. Aliquam nec sodales justo. Etiam porttitor, augue vel cursus eleifend, nibh lorem ornare tortor, sit amet sodales felis lorem sit amet nisi. Sed feugiat turpis vel tellus venenatis, non aliquet metus rutrum. Cras a magna in nulla mollis pellentesque vel quis est. Morbi quam quam, congue et hendrerit id, imperdiet id nunc. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum laoreet lobortis elit, ac pretium ex sollicitudin et. Integer consectetur tortor vel tortor facilisis laoreet.</p>

                    <p>Duis bibendum nisl quis tellus rutrum, ut aliquet massa interdum. Mauris sit amet nisl augue. Nullam turpis mauris, aliquam in fermentum non, malesuada faucibus orci. Suspendisse viverra lorem vitae eros tristique, nec sagittis lectus molestie. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam ut sollicitudin ex, non lacinia orci. Curabitur eleifend malesuada congue.</p>

                    <p>Fusce sit amet libero lorem. Nunc pellentesque consequat nisi, ut posuere lorem viverra id. Aenean tincidunt nulla nec felis lacinia, dignissim efficitur ipsum aliquet. Donec aliquet, sem vel posuere posuere, dui nisi elementum lectus, eget sollicitudin urna sem in arcu. Mauris aliquet, felis quis tempor accumsan, urna quam fringilla leo, a consectetur magna nulla non tortor. Fusce condimentum ultricies odio, sit amet tristique arcu elementum non. Quisque facilisis, ipsum at gravida iaculis, mauris dui congue lectus, sit amet elementum tellus odio id elit. Proin eget sagittis augue. Curabitur sagittis tellus et mi lobortis varius. Duis iaculis orci non tellus suscipit, eget bibendum tortor fringilla.</p>
                </div>

                <!-- Footer -->
                <div class="bas-ui-modal-footer">
                    <a href="#" class="bas-ui-button bas-ui-button-default bas-ui-button-flat bas-ui-waves secondary-color-text bas-ui-modal-close">Agree</a>
                    <a href="#" class="bas-ui-button bas-ui-button-default bas-ui-button-flat bas-ui-waves secondary-color-text bas-ui-modal-close">Disagree</a>
                </div>

                <!-- Close Top Right -->
                <!--div class="bas-ui-modal-top-close">
                    <i class="mdi mdi-close bas-ui-icon bas-ui-icon-24 bas-ui-modal-close"></i>
                </div-->

            </div>

            <h2 class="header">Modal Sizes</h2>
            <p>For diferent modal sizes add the <code class="language-markup">bas-ui-modal-small</code> or <code class="language-markup">bas-ui-modal-medium</code> after <code class="language-markup">bas-ui-modal</code>.</p>

            <p>
                <a data-target="bas-ui-modal-sample4" class="bas-ui-button bas-ui-button-primary bas-ui-waves-light bas-ui-modal-trigger">Small</a>
                &nbsp;&nbsp;&nbsp;
                <a data-target="bas-ui-modal-sample5" class="bas-ui-button bas-ui-button-primary bas-ui-waves-light bas-ui-modal-trigger">Medium</a>
            </p>

            <br>

            <!-- Modal Basic Small -->
            <div id="bas-ui-modal-sample4" class="bas-ui-modal bas-ui-modal-small">

                <!-- Content -->
                <div class="bas-ui-modal-content">
                    <h5>Title</h5>
                    <p>Duis bibendum nisl quis tellus rutrum, ut aliquet massa interdum. Mauris sit amet nisl augue. Nullam turpis mauris, aliquam in fermentum non, malesuada faucibus orci. Suspendisse viverra lorem vitae eros tristique, nec sagittis lectus molestie.</p>
                </div>

                <!-- Footer -->
                <div class="bas-ui-modal-footer">
                    <a href="#" class="bas-ui-button bas-ui-button-default bas-ui-button-flat bas-ui-waves secondary-color-text bas-ui-modal-close">Agree</a>
                    <a href="#" class="bas-ui-button bas-ui-button-default bas-ui-button-flat bas-ui-waves secondary-color-text bas-ui-modal-close">Disagree</a>
                </div>

            </div>

            <!-- Modal Basic Medium -->
            <div id="bas-ui-modal-sample5" class="bas-ui-modal bas-ui-modal-medium">

                <!-- Content -->
                <div class="bas-ui-modal-content">
                    <h5>Title</h5>
                    <p>Duis bibendum nisl quis tellus rutrum, ut aliquet massa interdum. Mauris sit amet nisl augue. Nullam turpis mauris, aliquam in fermentum non, malesuada faucibus orci. Suspendisse viverra lorem vitae eros tristique, nec sagittis lectus molestie.</p>
                </div>

                <!-- Footer -->
                <div class="bas-ui-modal-footer">
                    <a href="#" class="bas-ui-button bas-ui-button-default bas-ui-button-flat bas-ui-waves secondary-color-text bas-ui-modal-close">Agree</a>
                    <a href="#" class="bas-ui-button bas-ui-button-default bas-ui-button-flat bas-ui-waves secondary-color-text bas-ui-modal-close">Disagree</a>
                </div>

            </div>

            <h2 class="header">Modal Positions</h2>
            <p>For diferent positions add the <code class="language-markup">bas-ui-modal-top-sheet</code> or <code class="language-markup">bas-ui-modal-bottom-sheet</code> <br/> or <code class="language-markup">bas-ui-modal-left-sheet</code> or <code class="language-markup">bas-ui-modal-right-sheet</code> or <code class="language-markup">bas-ui-modal-full-sheet</code> after <code class="language-markup">bas-ui-modal</code>.</p>

            <p>
                <a data-target="bas-ui-modal-sample6" class="bas-ui-button bas-ui-button-primary bas-ui-waves-light bas-ui-modal-trigger">Top</a>
                &nbsp;&nbsp;&nbsp;
                <a data-target="bas-ui-modal-sample7" class="bas-ui-button bas-ui-button-primary bas-ui-waves-light bas-ui-modal-trigger">Bottom</a>
                &nbsp;&nbsp;&nbsp;
                <a data-target="bas-ui-modal-sample9" class="bas-ui-button bas-ui-button-primary bas-ui-waves-light bas-ui-modal-trigger">Left</a>
                &nbsp;&nbsp;&nbsp;
                <a data-target="bas-ui-modal-sample10" class="bas-ui-button bas-ui-button-primary bas-ui-waves-light bas-ui-modal-trigger">Right</a>
                &nbsp;&nbsp;&nbsp;
                <a data-target="bas-ui-modal-sample8" class="bas-ui-button bas-ui-button-primary bas-ui-waves-light bas-ui-modal-trigger">Full</a>
            </p>

            <br>

            <!-- Modal Bottom -->
            <div id="bas-ui-modal-sample6" class="bas-ui-modal bas-ui-modal-top-sheet">

                <!-- Content -->
                <div class="bas-ui-modal-content">
                    <h5>Title</h5>
                    <ul class="bas-ui-list bas-ui-hoverable">

                        <li class="bas-ui-list-item bas-ui-list-avatar  bas-ui-list-truncate bas-ui-list-secondary-content">
                            <img class="circle" src="{{assetsFix assets}}/img/avatar/avatar_1.jpg">
                            <div class="bas-ui-list-body">
                                <h6 class="bas-ui-list-title">Title</h6>
                                Duis bibendum nisl quis tellus rutrum, ut aliquet massa interdum. Mauris sit amet nisl augue. Nullam turpis mauris, aliquam in fermentum non, malesuada faucibus orci.
                            </div>
                            <a class="bas-ui-list-secondary-content-body"><i class="mdi mdi-star bas-ui-icon bas-ui-icon-24"></i></a>
                        </li>

                        <li class="bas-ui-list-item bas-ui-list-avatar  bas-ui-list-truncate bas-ui-list-secondary-content">
                            <img class="circle" src="{{assetsFix assets}}/img/avatar/avatar_2.jpg">
                            <div class="bas-ui-list-body">
                                <h6 class="bas-ui-list-title">Title</h6>
                                Duis bibendum nisl quis tellus rutrum, ut aliquet massa interdum. Mauris sit amet nisl augue. Nullam turpis mauris, aliquam in fermentum non, malesuada faucibus orci.
                            </div>
                            <a class="bas-ui-list-secondary-content-body active"><i class="mdi mdi-star bas-ui-icon bas-ui-icon-24"></i></a>
                        </li>

                        <li class="bas-ui-list-item bas-ui-list-avatar  bas-ui-list-truncate bas-ui-list-secondary-content">
                            <img class="circle" src="{{assetsFix assets}}/img/avatar/avatar_3.jpg">
                            <div class="bas-ui-list-body">
                                <h6 class="bas-ui-list-title">Title</h6>
                                Duis bibendum nisl quis tellus rutrum, ut aliquet massa interdum. Mauris sit amet nisl augue. Nullam turpis mauris, aliquam in fermentum non, malesuada faucibus orci.
                            </div>
                            <a class="bas-ui-list-secondary-content-body"><i class="mdi mdi-star bas-ui-icon bas-ui-icon-24"></i></a>
                        </li>

                        <li class="bas-ui-list-item bas-ui-list-avatar  bas-ui-list-truncate bas-ui-list-secondary-content">
                            <img class="circle" src="{{assetsFix assets}}/img/avatar/avatar_4.jpg">
                            <div class="bas-ui-list-body">
                                <h6 class="bas-ui-list-title">Title</h6>
                                Duis bibendum nisl quis tellus rutrum, ut aliquet massa interdum. Mauris sit amet nisl augue. Nullam turpis mauris, aliquam in fermentum non, malesuada faucibus orci.
                            </div>
                            <a class="bas-ui-list-secondary-content-body active"><i class="mdi mdi-star bas-ui-icon bas-ui-icon-24"></i></a>
                        </li>

                    </ul>
                </div>

                <!-- Footer -->
                <!--div class="bas-ui-modal-footer">
                    <a href="#" class="bas-ui-button bas-ui-button-default bas-ui-button-flat bas-ui-waves secondary-color-text bas-ui-modal-close">Agree</a>
                    <a href="#" class="bas-ui-button bas-ui-button-default bas-ui-button-flat bas-ui-waves secondary-color-text bas-ui-modal-close">Disagree</a>
                </div-->

            </div>

            <!-- Modal Bottom -->
            <div id="bas-ui-modal-sample7" class="bas-ui-modal bas-ui-modal-bottom-sheet">

                <!-- Content -->
                <div class="bas-ui-modal-content">
                    <h5>Title</h5>
                    <ul class="bas-ui-list bas-ui-hoverable">

                        <li class="bas-ui-list-item bas-ui-list-avatar  bas-ui-list-truncate bas-ui-list-secondary-content">
                            <img class="circle" src="{{assetsFix assets}}/img/avatar/avatar_1.jpg">
                            <div class="bas-ui-list-body">
                                <h6 class="bas-ui-list-title">Title</h6>
                                Duis bibendum nisl quis tellus rutrum, ut aliquet massa interdum. Mauris sit amet nisl augue. Nullam turpis mauris, aliquam in fermentum non, malesuada faucibus orci.
                            </div>
                            <a class="bas-ui-list-secondary-content-body"><i class="mdi mdi-star bas-ui-icon bas-ui-icon-24"></i></a>
                        </li>

                        <li class="bas-ui-list-item bas-ui-list-avatar  bas-ui-list-truncate bas-ui-list-secondary-content">
                            <img class="circle" src="{{assetsFix assets}}/img/avatar/avatar_2.jpg">
                            <div class="bas-ui-list-body">
                                <h6 class="bas-ui-list-title">Title</h6>
                                Duis bibendum nisl quis tellus rutrum, ut aliquet massa interdum. Mauris sit amet nisl augue. Nullam turpis mauris, aliquam in fermentum non, malesuada faucibus orci.
                            </div>
                            <a class="bas-ui-list-secondary-content-body active"><i class="mdi mdi-star bas-ui-icon bas-ui-icon-24"></i></a>
                        </li>

                        <li class="bas-ui-list-item bas-ui-list-avatar  bas-ui-list-truncate bas-ui-list-secondary-content">
                            <img class="circle" src="{{assetsFix assets}}/img/avatar/avatar_3.jpg">
                            <div class="bas-ui-list-body">
                                <h6 class="bas-ui-list-title">Title</h6>
                                Duis bibendum nisl quis tellus rutrum, ut aliquet massa interdum. Mauris sit amet nisl augue. Nullam turpis mauris, aliquam in fermentum non, malesuada faucibus orci.
                            </div>
                            <a class="bas-ui-list-secondary-content-body"><i class="mdi mdi-star bas-ui-icon bas-ui-icon-24"></i></a>
                        </li>

                        <li class="bas-ui-list-item bas-ui-list-avatar  bas-ui-list-truncate bas-ui-list-secondary-content">
                            <img class="circle" src="{{assetsFix assets}}/img/avatar/avatar_4.jpg">
                            <div class="bas-ui-list-body">
                                <h6 class="bas-ui-list-title">Title</h6>
                                Duis bibendum nisl quis tellus rutrum, ut aliquet massa interdum. Mauris sit amet nisl augue. Nullam turpis mauris, aliquam in fermentum non, malesuada faucibus orci.
                            </div>
                            <a class="bas-ui-list-secondary-content-body active"><i class="mdi mdi-star bas-ui-icon bas-ui-icon-24"></i></a>
                        </li>

                    </ul>
                </div>

                <!-- Footer -->
                <!--div class="bas-ui-modal-footer">
                    <a href="#" class="bas-ui-button bas-ui-button-default bas-ui-button-flat bas-ui-waves bas-ui-secondary-color-text bas-ui-modal-close">Agree</a>
                    <a href="#" class="bas-ui-button bas-ui-button-default bas-ui-button-flat bas-ui-waves bas-ui-secondary-color-text bas-ui-modal-close">Disagree</a>
                </div-->

            </div>

            <!-- Modal Full -->
            <div id="bas-ui-modal-sample8" class="bas-ui-modal bas-ui-modal-fixed bas-ui-modal-full-sheet">

                <!-- Header -->
                <div class="bas-ui-modal-header">
                    <div class="header-title">
                        <i class="mdi mdi-close bas-ui-icon bas-ui-icon-left bas-ui-icon-24 bas-ui-modal-close"></i>
                        <span class="section-title">Modal Header</span>
                    </div>
                    <ul class="right bas-ui-nav-menu">
                        <li class="bas-ui-nav-menu-item-icon">
                            <a class="bas-ui-button bas-ui-button-default bas-ui-button-flat bas-ui-button-fab bas-ui-button-fab-xs bas-ui-waves">
                                <i class="mdi mdi-dots-vertical bas-ui-icon"></i>
                            </a>
                        </li>
                    </ul>
                </div>

                <!-- Content -->
                <div class="bas-ui-modal-content">
                    <h5>Title</h5>
                    <ul class="bas-ui-list bas-ui-hoverable">

                        <li class="bas-ui-list-item bas-ui-list-avatar  bas-ui-list-truncate bas-ui-list-secondary-content">
                            <img class="circle" src="{{assetsFix assets}}/img/avatar/avatar_1.jpg">
                            <div class="bas-ui-list-body">
                                <h6 class="bas-ui-list-title">Title</h6>
                                Duis bibendum nisl quis tellus rutrum, ut aliquet massa interdum. Mauris sit amet nisl augue. Nullam turpis mauris, aliquam in fermentum non, malesuada faucibus orci.
                            </div>
                            <a class="bas-ui-list-secondary-content-body"><i class="mdi mdi-star bas-ui-icon bas-ui-icon-24"></i></a>
                        </li>

                        <li class="bas-ui-list-item bas-ui-list-avatar  bas-ui-list-truncate bas-ui-list-secondary-content">
                            <img class="circle" src="{{assetsFix assets}}/img/avatar/avatar_2.jpg">
                            <div class="bas-ui-list-body">
                                <h6 class="bas-ui-list-title">Title</h6>
                                Duis bibendum nisl quis tellus rutrum, ut aliquet massa interdum. Mauris sit amet nisl augue. Nullam turpis mauris, aliquam in fermentum non, malesuada faucibus orci.
                            </div>
                            <a class="bas-ui-list-secondary-content-body active"><i class="mdi mdi-star bas-ui-icon bas-ui-icon-24"></i></a>
                        </li>

                        <li class="bas-ui-list-item bas-ui-list-avatar  bas-ui-list-truncate bas-ui-list-secondary-content">
                            <img class="circle" src="{{assetsFix assets}}/img/avatar/avatar_3.jpg">
                            <div class="bas-ui-list-body">
                                <h6 class="bas-ui-list-title">Title</h6>
                                Duis bibendum nisl quis tellus rutrum, ut aliquet massa interdum. Mauris sit amet nisl augue. Nullam turpis mauris, aliquam in fermentum non, malesuada faucibus orci.
                            </div>
                            <a class="bas-ui-list-secondary-content-body"><i class="mdi mdi-star bas-ui-icon bas-ui-icon-24"></i></a>
                        </li>

                        <li class="bas-ui-list-item bas-ui-list-avatar  bas-ui-list-truncate bas-ui-list-secondary-content">
                            <img class="circle" src="{{assetsFix assets}}/img/avatar/avatar_4.jpg">
                            <div class="bas-ui-list-body">
                                <h6 class="bas-ui-list-title">Title</h6>
                                Duis bibendum nisl quis tellus rutrum, ut aliquet massa interdum. Mauris sit amet nisl augue. Nullam turpis mauris, aliquam in fermentum non, malesuada faucibus orci.
                            </div>
                            <a class="bas-ui-list-secondary-content-body active"><i class="mdi mdi-star bas-ui-icon bas-ui-icon-24"></i></a>
                        </li>

                    </ul>
                </div>

                <!-- Footer -->
                <div class="bas-ui-modal-footer">
                    <a href="#" class="bas-ui-button bas-ui-button-default bas-ui-button-flat bas-ui-waves secondary-color-text bas-ui-modal-close">Save</a>
                    <a href="#" class="bas-ui-button bas-ui-button-default bas-ui-button-flat bas-ui-waves secondary-color-text bas-ui-modal-close">Cancel</a>
                </div>

            </div>

            <!-- Modal Left -->
            <div id="bas-ui-modal-sample9" class="bas-ui-modal bas-ui-modal-fixed bas-ui-modal-left-sheet">

                <!-- Header -->
                <div class="bas-ui-modal-header">
                    <div class="header-title">
                        <i class="mdi mdi-close bas-ui-icon bas-ui-icon-left bas-ui-icon-24 bas-ui-modal-close"></i>
                        <span class="section-title">Modal Header</span>
                    </div>
                    <ul class="right bas-ui-nav-menu">
                        <li class="bas-ui-nav-menu-item-icon">
                            <a class="bas-ui-button bas-ui-button-default bas-ui-button-flat bas-ui-button-fab bas-ui-button-fab-xs bas-ui-waves">
                                <i class="mdi mdi-dots-vertical bas-ui-icon"></i>
                            </a>
                        </li>
                    </ul>
                </div>

                <!-- Content -->
                <div class="bas-ui-modal-content">
                    <h5>Title</h5>
                    <ul class="bas-ui-list bas-ui-hoverable">

                        <li class="bas-ui-list-item bas-ui-list-avatar  bas-ui-list-truncate bas-ui-list-secondary-content">
                            <img class="circle" src="{{assetsFix assets}}/img/avatar/avatar_1.jpg">
                            <div class="bas-ui-list-body">
                                <h6 class="bas-ui-list-title">Title</h6>
                                Duis bibendum nisl quis tellus rutrum, ut aliquet massa interdum. Mauris sit amet nisl augue. Nullam turpis mauris, aliquam in fermentum non, malesuada faucibus orci.
                            </div>
                            <a class="bas-ui-list-secondary-content-body"><i class="mdi mdi-star bas-ui-icon bas-ui-icon-24"></i></a>
                        </li>

                        <li class="bas-ui-list-item bas-ui-list-avatar  bas-ui-list-truncate bas-ui-list-secondary-content">
                            <img class="circle" src="{{assetsFix assets}}/img/avatar/avatar_2.jpg">
                            <div class="bas-ui-list-body">
                                <h6 class="bas-ui-list-title">Title</h6>
                                Duis bibendum nisl quis tellus rutrum, ut aliquet massa interdum. Mauris sit amet nisl augue. Nullam turpis mauris, aliquam in fermentum non, malesuada faucibus orci.
                            </div>
                            <a class="bas-ui-list-secondary-content-body active"><i class="mdi mdi-star bas-ui-icon bas-ui-icon-24"></i></a>
                        </li>

                        <li class="bas-ui-list-item bas-ui-list-avatar  bas-ui-list-truncate bas-ui-list-secondary-content">
                            <img class="circle" src="{{assetsFix assets}}/img/avatar/avatar_3.jpg">
                            <div class="bas-ui-list-body">
                                <h6 class="bas-ui-list-title">Title</h6>
                                Duis bibendum nisl quis tellus rutrum, ut aliquet massa interdum. Mauris sit amet nisl augue. Nullam turpis mauris, aliquam in fermentum non, malesuada faucibus orci.
                            </div>
                            <a class="bas-ui-list-secondary-content-body"><i class="mdi mdi-star bas-ui-icon bas-ui-icon-24"></i></a>
                        </li>

                        <li class="bas-ui-list-item bas-ui-list-avatar  bas-ui-list-truncate bas-ui-list-secondary-content">
                            <img class="circle" src="{{assetsFix assets}}/img/avatar/avatar_4.jpg">
                            <div class="bas-ui-list-body">
                                <h6 class="bas-ui-list-title">Title</h6>
                                Duis bibendum nisl quis tellus rutrum, ut aliquet massa interdum. Mauris sit amet nisl augue. Nullam turpis mauris, aliquam in fermentum non, malesuada faucibus orci.
                            </div>
                            <a class="bas-ui-list-secondary-content-body active"><i class="mdi mdi-star bas-ui-icon bas-ui-icon-24"></i></a>
                        </li>

                    </ul>
                </div>

                <!-- Footer -->
                <div class="bas-ui-modal-footer">
                    <a href="#" class="bas-ui-button bas-ui-button-default bas-ui-button-flat bas-ui-waves secondary-color-text bas-ui-modal-close">Save</a>
                    <a href="#" class="bas-ui-button bas-ui-button-default bas-ui-button-flat bas-ui-waves secondary-color-text bas-ui-modal-close">Cancel</a>
                </div>

            </div>

            <!-- Modal Right -->
            <div id="bas-ui-modal-sample10" class="bas-ui-modal bas-ui-modal-fixed bas-ui-modal-right-sheet">

                <!-- Header -->
                <div class="bas-ui-modal-header">
                    <div class="header-title">
                        <i class="mdi mdi-close bas-ui-icon bas-ui-icon-left bas-ui-icon-24 bas-ui-modal-close"></i>
                        <span class="section-title">Modal Header</span>
                    </div>
                    <ul class="right bas-ui-nav-menu">
                        <li class="bas-ui-nav-menu-item-icon">
                            <a class="bas-ui-button bas-ui-button-default bas-ui-button-flat bas-ui-button-fab bas-ui-button-fab-xs bas-ui-waves">
                                <i class="mdi mdi-dots-vertical bas-ui-icon"></i>
                            </a>
                        </li>
                    </ul>
                </div>

                <!-- Content -->
                <div class="bas-ui-modal-content">
                    <h5>Title</h5>
                    <ul class="bas-ui-list bas-ui-hoverable">

                        <li class="bas-ui-list-item bas-ui-list-avatar  bas-ui-list-truncate bas-ui-list-secondary-content">
                            <img class="circle" src="{{assetsFix assets}}/img/avatar/avatar_1.jpg">
                            <div class="bas-ui-list-body">
                                <h6 class="bas-ui-list-title">Title</h6>
                                Duis bibendum nisl quis tellus rutrum, ut aliquet massa interdum. Mauris sit amet nisl augue. Nullam turpis mauris, aliquam in fermentum non, malesuada faucibus orci.
                            </div>
                            <a class="bas-ui-list-secondary-content-body"><i class="mdi mdi-star bas-ui-icon bas-ui-icon-24"></i></a>
                        </li>

                        <li class="bas-ui-list-item bas-ui-list-avatar  bas-ui-list-truncate bas-ui-list-secondary-content">
                            <img class="circle" src="{{assetsFix assets}}/img/avatar/avatar_2.jpg">
                            <div class="bas-ui-list-body">
                                <h6 class="bas-ui-list-title">Title</h6>
                                Duis bibendum nisl quis tellus rutrum, ut aliquet massa interdum. Mauris sit amet nisl augue. Nullam turpis mauris, aliquam in fermentum non, malesuada faucibus orci.
                            </div>
                            <a class="bas-ui-list-secondary-content-body active"><i class="mdi mdi-star bas-ui-icon bas-ui-icon-24"></i></a>
                        </li>

                        <li class="bas-ui-list-item bas-ui-list-avatar  bas-ui-list-truncate bas-ui-list-secondary-content">
                            <img class="circle" src="{{assetsFix assets}}/img/avatar/avatar_3.jpg">
                            <div class="bas-ui-list-body">
                                <h6 class="bas-ui-list-title">Title</h6>
                                Duis bibendum nisl quis tellus rutrum, ut aliquet massa interdum. Mauris sit amet nisl augue. Nullam turpis mauris, aliquam in fermentum non, malesuada faucibus orci.
                            </div>
                            <a class="bas-ui-list-secondary-content-body"><i class="mdi mdi-star bas-ui-icon bas-ui-icon-24"></i></a>
                        </li>

                        <li class="bas-ui-list-item bas-ui-list-avatar  bas-ui-list-truncate bas-ui-list-secondary-content">
                            <img class="circle" src="{{assetsFix assets}}/img/avatar/avatar_4.jpg">
                            <div class="bas-ui-list-body">
                                <h6 class="bas-ui-list-title">Title</h6>
                                Duis bibendum nisl quis tellus rutrum, ut aliquet massa interdum. Mauris sit amet nisl augue. Nullam turpis mauris, aliquam in fermentum non, malesuada faucibus orci.
                            </div>
                            <a class="bas-ui-list-secondary-content-body active"><i class="mdi mdi-star bas-ui-icon bas-ui-icon-24"></i></a>
                        </li>

                    </ul>
                </div>

                <!-- Footer -->
                <div class="bas-ui-modal-footer">
                    <a href="#" class="bas-ui-button bas-ui-button-default bas-ui-button-flat bas-ui-waves secondary-color-text bas-ui-modal-close">Save</a>
                    <a href="#" class="bas-ui-button bas-ui-button-default bas-ui-button-flat bas-ui-waves secondary-color-text bas-ui-modal-close">Cancel</a>
                </div>

            </div>


            <h2 class="header">Modal Structure</h2>
            <p>For set Trigger, specify the Modal ID in data-target or href and add <code class="language-markup">bas-ui-modal-trigger</code> in the class item.</p>

            <pre><code class="language-markup">
&lt;!-- Modal Trigger --&gt;
&lt;a data-target=&quot;bas-ui-modal-sample1&quot; class=&quot;bas-ui-button bas-ui-button-primary bas-ui-waves-light bas-ui-modal-trigger&quot;&gt;Show Modal&lt;/a&gt;

&lt;!-- Modal --&gt;
&lt;div id=&quot;bas-ui-modal-sample1&quot; class=&quot;bas-ui-modal&quot;&gt;

    &lt;!-- Header --&gt;
    &lt;div class=&quot;bas-ui-modal-header&quot;&gt;
        &lt;div class=&quot;header-title&quot;&gt;
            &lt;i class=&quot;mdi mdi-settings bas-ui-icon bas-ui-icon-left bas-ui-icon-24&quot;&gt;&lt;/i&gt;
            &lt;span class=&quot;section-title&quot;&gt;Modal Header&lt;/span&gt;
        &lt;/div&gt;
        &lt;ul class=&quot;right bas-ui-nav-menu&quot;&gt;
            &lt;li class=&quot;bas-ui-nav-menu-item-icon&quot;&gt;
                &lt;a class=&quot;bas-ui-button bas-ui-button-default bas-ui-button-flat bas-ui-button-fab bas-ui-button-fab-xs bas-ui-waves&quot;&gt;
                    &lt;i class=&quot;mdi mdi-dots-vertical bas-ui-icon&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;
            &lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;

    &lt;!-- Content --&gt;
    &lt;div class=&quot;bas-ui-modal-content&quot;&gt;
        &lt;h5&gt;Title&lt;/h5&gt;
        &lt;p&gt;Duis bibendum nisl quis tellus rutrum, ut aliquet massa interdum. Mauris sit amet nisl augue.&lt;/p&gt;
    &lt;/div&gt;

    &lt;!-- Footer --&gt;
    &lt;div class=&quot;bas-ui-modal-footer&quot;&gt;
        &lt;a href=&quot;#&quot; class=&quot;bas-ui-button bas-ui-button-default bas-ui-button-flat bas-ui-waves secondary-color-text bas-ui-modal-close&quot;&gt;Agree&lt;/a&gt;
        &lt;a href=&quot;#&quot; class=&quot;bas-ui-button bas-ui-button-default bas-ui-button-flat bas-ui-waves secondary-color-text bas-ui-modal-close&quot;&gt;Disagree&lt;/a&gt;
    &lt;/div&gt;

&lt;/div&gt;
</code></pre>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2 class="header">Initialization</h2>
            <p>Initialization for modals is only necessary if you create them dynamically.</p>

            <pre><code class="language-javascript">
$(document).ready(function(){
    $('.bas-ui-modal-trigger').bas_ui_modals({
        dismissible: true, // Modal can be dismissed by clicking outside of the modal
        opacity: 0.5, // Opacity of modal background
        in_duration: 300, // Transition in duration
        out_duration: 200, // Transition out duration
    });
});</code></pre>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2 class="header">Options</h2>

            <table class="table bas-ui-data-table z-depth-1 bas-ui-bottom-margin-3">
                <thead>
                <tr>
                    <th class="bas-ui-data-table-cell-non-numeric">Option Name</th>
                    <th class="bas-ui-data-table-cell-non-numeric">Description</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td style="width: 25%;" class="bas-ui-data-table-cell-non-numeric">in_duration</td>
                    <td class="bas-ui-data-table-cell-non-numeric bas-ui-data-table-cell-truncate">The duration of the transition enter in milliseconds. Default: 300</td>
                </tr>
                <tr>
                    <td class="bas-ui-data-table-cell-non-numeric">out_duration</td>
                    <td class="bas-ui-data-table-cell-non-numeric bas-ui-data-table-cell-truncate">The duration of the transition out in milliseconds. Default: 200</td>
                </tr>
                <tr>
                    <td class="bas-ui-data-table-cell-non-numeric">opacity</td>
                    <td class="bas-ui-data-table-cell-non-numeric bas-ui-data-table-cell-truncate">Opacity of modal background. Default: 0.5</td>
                </tr>
                <tr>
                    <td class="bas-ui-data-table-cell-non-numeric">dismissible</td>
                    <td class="bas-ui-data-table-cell-non-numeric bas-ui-data-table-cell-truncate">Modal can be dismissed by clicking outside of the modal. Default: true</td>
                </tr>
                </tbody>
            </table>

            <p>To use these inline you have to add them as data attributes.</p>

            <pre><code class="language-markup">
&lt;!-- Modal Trigger --&gt;
&lt;a data-target=&quot;bas-ui-modal-sample1&quot; data-opacity=&quot;0.8&quot; data-dismissible=&quot;true&quot; class=&quot;bas-ui-button bas-ui-button-primary bas-ui-waves-light bas-ui-modal-trigger&quot;&gt;&lt;/a&gt;</code></pre>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2 class="header">Methods</h2>

            <p>Shows a modal element.</p>

            <pre><code class="language-javascript">
$('.bas-ui-modal-trigger-custom-1').bas_ui_modals('show');
</code></pre>

            <p>Hides a modal element.</p>

            <pre><code class="language-javascript">
$('.bas-ui-modal-trigger-custom-1').bas_ui_modals('hide');
</code></pre>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2 class="header">Events</h2>

            <table class="bas-ui-data-table bas-ui-striped z-depth-1 bas-ui-bottom-margin-3">
                <thead>
                <tr>
                    <th class="bas-ui-data-table-cell-non-numeric">Option Name</th>
                    <th class="bas-ui-data-table-cell-non-numeric">Description</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td class="bas-ui-data-table-cell-non-numeric">show.bas.modals</td>
                    <td class="bas-ui-data-table-cell-non-numeric">This event fires immediately when the show instance method is called.</td>
                </tr>
                <tr>
                    <td class="bas-ui-data-table-cell-non-numeric">shown.bas.modals</td>
                    <td class="bas-ui-data-table-cell-non-numeric">This event is fired when a modal has been made visible to the user (will wait for CSS transitions to complete).</td>
                </tr>
                <tr>
                    <td class="bas-ui-data-table-cell-non-numeric">hide.bas.modals</td>
                    <td class="bas-ui-data-table-cell-non-numeric">This event is fired immediately when the hide method has been called.</td>
                </tr>
                <tr>
                    <td class="bas-ui-data-table-cell-non-numeric">hidden.bas.modals</td>
                    <td class="bas-ui-data-table-cell-non-numeric">This event is fired when a modal has been hidden from the user (will wait for CSS transitions to complete).</td>
                </tr>
                </tbody>
            </table>

            <p>Sample event.</p>

            <pre><code class="language-javascript">
$('#bas-ui-modal-sample1').on('shown.bas.modals', function () {
    // do something...
});
</code></pre>
        </div>
    </div>


</div>
</section>
